<div class="bg-white">
    <h1 class="text-sm text-center py-2">
        Hashed Harvest sales <span class="text-hhorangebrown font-bold">20% DISCOUNT</span> 
        on all products! Apply code <span class="text-hhorangebrown font-bold">420</span>
         at checkout.
    </h1>
</div>