---

---
<div class="flex justify-start items-center w-full mx-auto h-[65vh] bg-cover bg-center" style="background-image: url('/hero.webp');">
    <div class="w-fit bg-white py-4 rounded px-3">
        <h1 class="text-3xl font-thin text-left tracking-wider text-hhdarkbrown ">Cannabis infused</h1>
        <h2 class="text-xl font-bold text-left mt-4 text-hhlightbrown">Butters, Oils, Drizzles
        </h2>

        <a href="" class=" items-center text-xl active:bg-gray-100 active:text-gray-900/60 active:transition-none border 
        font-medium gap-2 inline-flex justify-center outline-offset-2 my-4 px-6 py-3 
        transition w-full h-12 lg:w-auto rounded-lg bg-hhdarkbrown border-white/20 hover:bg-gray-600 text-white">Shop Now</a>
    </div>
    <div></div>
</div>
